#recipe_items {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 100%
  height: auto;
}

#complete_items {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 100%
  height: auto;
  display: flex;
}

#table {
  position: absolute;
  top: 0%;
  left: 79%;
  display: flex;
  object-fit: contain;
  width: 20%;
  height: auto;
}

#buttonuplocation {
  position: absolute;
  top: 12%;
  left: 40%;
}

#buttondownlocation {
  position: absolute;
  top: 20%;
  left: 40%;
}

.buttonup {
  background: url(https://i.ibb.co/ym2nMZj/2019-07-10-10-08-57-Imgur-The-magic-of-the-Internet.png);
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  width: 100%
  height: auto;
}

.buttondown {
  background: url(https://i.ibb.co/hCff9nZ/downbutton.png);
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  width: 100%
  height: auto;
}

.buttonreset {
  background: url(https://www.mobafire.com/images/ability/ekko-chronobreak.png);
  background-repeat: no-repeat;
  padding: 0;
  width: 64px;
  height: 64px;
}

#resetbutton {
  position: absolute;
  top: 15%;
  left: 35%;
  display: flex;
}

#count {
  position: absolute;
  top: 19%;
  left: 40%;
  letter-spacing: 12px;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
}

body {
  background-image: url("https://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/embed/public/2019/05/14/battle-principal-yuumi-league-legends-riot-games.jpg");
  background-color: #cccccc;
}

button {
  width: 48px;
  height: 30px;
}

#demo {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;

    width: 0px;
}
#demo.in {
    width: 220px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 48px;
  height: 48px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#origin1 {
  position: absolute;
  top: 52%;
  left: 10%;
}

#origin2 {
  position: absolute;
  top: 52%;
  left: 30%;
}

#origin3 {
  position: absolute;
  top: 52%;
  left: 47%;
}

#class4 {
  position: absolute;
  top: 52%;
  left: 64%;
}

#class5 {
  position: absolute;
  top: 52%;
  left: 84%;
}
